// app global css in SCSS form
body {
  background-image: url('https://kod.dowhat.top/data/User/admin/home/%E5%9B%BE%E7%89%87/1500%E5%A4%9A%E6%AC%BE%E5%94%AF%E7%BE%8E%E7%BD%91%E9%A1%B5%E8%83%8C%E6%99%AF/bg-0013.gif');
}

// font-style
.bold {
  font-weight: bold;
}

// text-align
.tac {
  text-align: center;
}

// flex
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inline-flex {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.flex-content-between {
  justify-content: space-between;
}

.flex-content-center {
  justify-content: center;
}

// cursor
.cp {
  cursor: pointer;
}
